.action_add {
  background-image: url('../images/add.png');
  background-repeat: no-repeat;
  padding-left: 25px;
}
.action_edit {
  background-image: url('../images/edit.png');
  background-repeat: no-repeat;
  padding-left: 25px;
}
.action_remove {
  background-image: url('../images/remove.png');
  background-repeat: no-repeat;
  padding-left: 25px;
}
.menu_language_warning {
  color: red;
  font-size: 20px;
  padding-bottom: 10px;
}

td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }
.filter-table input {
  border: 1px solid black;
  padding: 10px;
}

span.indenter {
  display: inline-block;
  height: 10px;
  overflow: hidden;
}

table.treetable span.indenter a {
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
}

table.treetable tr.collapsed span.indenter a {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  border-left: 5px solid black;
}

table.treetable tr.expanded span.indenter a {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid black;
}
