#media-tab-widen #scrollbox {
  /*height: 300px;*/
  height: auto;
  overflow: auto;
  overflow-x: hidden;
}
#widen-search-boxer {
  display: inline-block;
}
#widen-search-boxer.process-results {
  display: none;
}
#widen-search-boxer .form-item {
  display: inline-block;
  vertical-align: top;
}
#widen-search-box-show {
  display: none;
}
#widen-search-box-show.process-results {
  display: inline-block;
}
#widendam-results-form .fake-cancel {
  display: none !important;
}

.select2-container .select2-selection--multiple {
  min-height: 0 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  font-size: 10px;
  margin-top: 2px !important;
}
.select2-results__option {
  padding: 1px !important;
  font-size: 12px;
}
.page-admin-content-widen-embed.admin-menu {
  margin-top: 0 !important;
}
.page-admin-content-widen-embed #admin-menu,
.page-admin-content-widen-embed .breadcrumb,
.page-admin-content-widen-embed .add-or-remove-shortcuts{
  display: none;
}