@font-face {
  font-family: "PlutoSansMedium";
  src: url("../fonts/PlutoSansMedium.eot");
  src: url("../fonts/PlutoSansMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansMedium.woff2") format("woff2"), url("../fonts/PlutoSansMedium.woff") format("woff"), url("../fonts/PlutoSansMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlutoSansCondMedium";
  src: url("../fonts/PlutoSansCondMedium.eot");
  src: url("../fonts/PlutoSansCondMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansCondMedium.woff2") format("woff2"), url("../fonts/PlutoSansCondMedium.woff") format("woff"), url("../fonts/PlutoSansCondMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlutoSans";
  src: url("../fonts/PlutoSansLight.eot");
  src: url("../fonts/PlutoSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansLight.woff2") format("woff2"), url("../fonts/PlutoSansLight.woff") format("woff"), url("../fonts/PlutoSansLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlutoSansLight";
  src: url("../fonts/PlutoSansLight.eot");
  src: url("../fonts/PlutoSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansLight.woff2") format("woff2"), url("../fonts/PlutoSansLight.woff") format("woff"), url("../fonts/PlutoSansLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlutoSansCondLight";
  src: url("../fonts/PlutoSansCondLight.eot");
  src: url("../fonts/PlutoSansCondLight.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansCondLight.woff2") format("woff2"), url("../fonts/PlutoSansCondLight.woff") format("woff"), url("../fonts/PlutoSansCondLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Gotham fonts */
@font-face {
  font-family: 'MontserratRegular';
  src: url('../fonts/Montserrat/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),  url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),  url('../fonts/Montserrat/Montserrat-Regular.svg#MontserratRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratLight';
  src: url('../fonts/Montserrat/Montserrat-Light.eot');
  src: url('../fonts/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),  url('../fonts/Gotham/Gotham-Light.ttf') format('truetype'),  url('../fonts/Montserrat/Montserrat-Light.svg#MontserratLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratSemibold';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),  url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype'),  url('../fonts/Montserrat/Montserrat-SemiBold.svg#MontserratSemibold') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBold';
  src: url('../fonts/Montserrat/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),  url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),  url('../fonts/Montserrat/Montserrat-Bold.svg#MontserratBold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBlack';
  src: url('../fonts/Montserrat/Montserrat-Black.eot');
  src: url('../fonts/Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat/Montserrat-Black.woff') format('woff'),  url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype'),  url('../fonts/Montserrat/Montserrat-Black.svg#MontserratBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Ukranian Site CSS*/
body {
  position: static;
}

body.i18n-uk {
  font-family: "Verdana", sans-serif;
}

body.i18n-uk header#navbar .navbar-collapse #choose-language-wrap #choose-language span {
  font-family: "Verdana", sans-serif;
}

body.i18n-uk h1, body.i18n-uk h2, body.i18n-uk h3, body.i18n-uk h4, body.i18n-uk h5, body.i18n-uk h6, body.i18n-uk .h1, body.i18n-uk .h2, body.i18n-uk .h3, body.i18n-uk .h4, body.i18n-uk .h5, body.i18n-uk .h6 {
  font-family: "Verdana", sans-serif;
}

body.i18n-uk header h1 {
  font-family: "Verdana", sans-serif;
}

body.i18n-uk div.main-container {
  font-family: "Verdana", sans-serif;
}

body.i18n-uk > .main-container > .container p, body.i18n-uk > .main-container > .container span {
  font-family: "Verdana", sans-serif;
}

body.i18n-uk .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
  font-family: "Verdana", sans-serif;
}

body.i18n-uk .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .views-label, .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field {
  font-family: "Verdana", sans-serif;
}

body.i18n-uk .views-exposed-form label {
  font-family: "Verdana", sans-serif;
}

body.i18n-uk .views-exposed-form .form-submit.btn-info, .views-exposed-form .btn-primary {
  font-family: "Verdana", sans-serif;
}

body.i18n-uk .btn-custom {
  font-family: "Verdana", sans-serif;
}

body.i18n-uk .main-container .container span {
  font-family: "Verdana", sans-serif;
}

/*Russian Site CSS*/
body.i18n-ru {
  font-family: "Verdana", sans-serif;
}

body.i18n-ru #block-block-2 h2 {
  font-family: "Verdana", sans-serif;
}

body.i18n-ru header#navbar .navbar-collapse #choose-language-wrap #choose-language span {
  font-family: "Verdana", sans-serif;
}

body.i18n-ru h1, body.i18n-ru h2, body.i18n-ru h3, body.i18n-ru h4, body.i18n-ru h5, body.i18n-ru h6, body.i18n-ru .h1, body.i18n-ru .h2, body.i18n-ru .h3, body.i18n-ru .h4, body.i18n-ru .h5, body.i18n-ru .h6 {
  font-family: "Verdana", sans-serif;
}

body.i18n-ru header h1 {
  font-family: "Verdana", sans-serif;
}

body.i18n-ru div.main-container {
  font-family: "Verdana", sans-serif;
}

body.i18n-ru > .main-container > .container p, body.i18n-ru > .main-container > .container span {
  font-family: "Verdana", sans-serif;
}

body.i18n-ru .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
  font-family: "Verdana", sans-serif;
}

body.i18n-ru .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .views-label, .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field {
  font-family: "Verdana", sans-serif;
}

body.i18n-ru .views-exposed-form label {
  font-family: "Verdana", sans-serif;
}

body.i18n-ru .views-exposed-form .form-submit.btn-info, .views-exposed-form .btn-primary {
  font-family: "Verdana", sans-serif;
}

body.i18n-ru .btn-custom {
  font-family: "Verdana", sans-serif;
}

body.i18n-ru .main-container .container span {
  font-family: "Verdana", sans-serif;
}

/*Bulgarian Site CSS*/
body.i18n-bg {
  font-family: "Verdana", sans-serif;
}

body.i18n-bg header#navbar .navbar-collapse #choose-language-wrap #choose-language span {
  font-family: "Verdana", sans-serif;
}

body.i18n-bg h1, body.i18n-bg h2, body.i18n-bg h3, body.i18n-bg h4, body.i18n-bg h5, body.i18n-bg h6, body.i18n-bg .h1, body.i18n-bg .h2, body.i18n-bg .h3, body.i18n-bg .h4, body.i18n-bg .h5, body.i18n-bg .h6 {
  font-family: "Verdana", sans-serif;
}

body.i18n-bg header h1 {
  font-family: "Verdana", sans-serif;
}

body.i18n-bg div.main-container {
  font-family: "Verdana", sans-serif;
}

body.i18n-bg > .main-container > .container p, body.i18n-bg > .main-container > .container span {
  font-family: "Verdana", sans-serif;
}

body.i18n-bg .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
  font-family: "Verdana", sans-serif;
}

body.i18n-bg .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .views-label, .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field {
  font-family: "Verdana", sans-serif;
}

body.i18n-bg .views-exposed-form label {
  font-family: "Verdana", sans-serif;
}

body.i18n-bg .views-exposed-form .form-submit.btn-info, .views-exposed-form .btn-primary {
  font-family: "Verdana", sans-serif;
}

body.i18n-bg .btn-custom {
  font-family: "Verdana", sans-serif;
}

body.i18n-bg .main-container .container span {
  font-family: "Verdana", sans-serif;
}

/*Greek Site CSS*/
body.i18n-el {
  font-family: "Verdana", sans-serif;
}

body.i18n-el header#navbar .navbar-collapse #choose-language-wrap #choose-language span {
  font-family: "Verdana", sans-serif;
}

body.i18n-el h1, body.i18n-el h2, body.i18n-el h3, body.i18n-el h4, body.i18n-el h5, body.i18n-el h6, body.i18n-el .h1, body.i18n-el .h2, body.i18n-el .h3, body.i18n-el .h4, body.i18n-el .h5, body.i18n-el .h6 {
  font-family: "Verdana", sans-serif;
}

body.i18n-el header h1 {
  font-family: "Verdana", sans-serif;
}

body.i18n-el div.main-container {
  font-family: "Verdana", sans-serif;
}

body.i18n-el > .main-container > .container p, body.i18n-el > .main-container > .container span {
  font-family: "Verdana", sans-serif;
}

body.i18n-el .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
  font-family: "Verdana", sans-serif;
}

body.i18n-el .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .views-label, .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field {
  font-family: "MontserratRegular", "Verdana", sans-serif;
}

body.i18n-el .views-exposed-form label {
  font-family: "Verdana", sans-serif;
}

body.i18n-el .views-exposed-form .form-submit.btn-info, .views-exposed-form .btn-primary {
  font-family: "Verdana", sans-serif;
}

body.i18n-el .btn-custom {
  font-family: "Verdana", sans-serif;
}

body.i18n-el .main-container .container span {
  font-family: "Verdana", sans-serif;
}

/*Language Switcer*/
div#language-region #block-locale-language h2.block-title,
div#language-region #block-locale-language ul.language-switcher-locale-url {
  font-family: "Verdana", sans-serif;
}

.view-downloads-center div.view-content .download-item .content.views-fieldset .views-field p {
  display: inline;
}

.view-downloads-center div.view-content .download-item .content.views-fieldset .views-field-body,
.view-downloads-center div.view-content .download-item .content.views-fieldset .views-field-body-1 {
  margin-top: 25px;
  color: #78797c;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #065ca2;
  font-family: "MontserratLight", Verdana, sans-serif;
}

body.navbar-is-fixed-top {
  padding-top: 50px;
}

body.navbar-is-fixed-top.logged-in {
  padding-top: 60px !important;
}

body.navbar-is-fixed-top.logged-in header#navbar {
  top: 40px;
}

body.navbar-is-fixed-top header#navbar {
  background-color: #065ca2;
  z-index: 5;
  color: transparent;
}

@media (max-width: 768px) {
  body.navbar-is-fixed-top header#navbar .navbar-header {
    margin-left: inherit;
  }

  body.navbar-is-fixed-top header#navbar .navbar-header .navbar-toggle,
  body.navbar-is-fixed-top header#navbar .navbar-header .navbar-toggle:focus {
    border-color: transparent;
    background-color: transparent;
  }

  body.navbar-is-fixed-top header#navbar .navbar-header .navbar-toggle span,
  body.navbar-is-fixed-top header#navbar .navbar-header .navbar-toggle:focus span {
    background-color: white;
  }
}

body.navbar-is-fixed-top header#navbar .navbar-header a.logo {
  margin-top: 5px;
  padding-top: 5px;
  margin-right: 40px;
}

body.navbar-is-fixed-top header#navbar .navbar-header a.logo img{
  max-height: 40px;
}

body.navbar-is-fixed-top header#navbar #language-region {
  display: none;
  width: 100%;
  padding: 10px 0 20px;
  background-image: url("/sites/all/themes/eifu_download_center/images/country-menu-bg.jpg");
  background-size: cover;
  text-align: left;
  max-height: 60vh;
  overflow-y: scroll;
}

body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu,
body.navbar-is-fixed-top header#navbar #language-region #block-locale-language {
  width: auto;
}

body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu .block-title,
body.navbar-is-fixed-top header#navbar #language-region #block-locale-language .block-title {
  color: #474c55;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 10px;
}

body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.menu.nav,
body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.language-switcher-locale-url,
body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.menu.nav,
body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.language-switcher-locale-url {
  padding-left: 0;
}

body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.menu.nav li,
body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.language-switcher-locale-url li,
body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.menu.nav li,
body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.language-switcher-locale-url li {
  display: inline-block;
  width: 19%;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.menu.nav li,
  body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.language-switcher-locale-url li,
  body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.menu.nav li,
  body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.language-switcher-locale-url li {
    width: 30%;
    margin-right: 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.menu.nav li,
  body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.language-switcher-locale-url li,
  body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.menu.nav li,
  body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.language-switcher-locale-url li {
    width: 49%;
  }
}

body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.menu.nav li a,
body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.language-switcher-locale-url li a,
body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.menu.nav li a,
body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.language-switcher-locale-url li a {
  padding: 10px 0;
  color: #474c55;
}

body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.menu.nav li a:hover,
body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.language-switcher-locale-url li a:hover,
body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.menu.nav li a:hover,
body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.language-switcher-locale-url li a:hover {
  background: transparent;
  color: #065ca2;
}

body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.menu.nav li h4,
body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.language-switcher-locale-url li h4,
body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.menu.nav li h4,
body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.language-switcher-locale-url li h4 {
  font-size: 16px;
  color: #474c55;
  display: inline-block;
  margin-top: 10px;
  line-height: 18px;
  border-bottom: 1px solid #474c55;
  font-family: "PlutoSansMedium", Verdana, sans-serif;
}

body.navbar-is-fixed-top header#navbar .navbar-collapse {
  margin-bottom: 5px;
}

body.navbar-is-fixed-top header#navbar .navbar-collapse #choose-language-wrap {
  margin-top: 15px;
}

body.navbar-is-fixed-top header#navbar .navbar-collapse #choose-language-wrap #choose-language {
  color: white;
  background: transparent;
  width: auto;
  padding: 0;
  margin: 15px 20px 0;
  font-size: 14px;
  font-family: "MontserratLight", Verdana, sans-serif;
  text-decoration: none;
}

body.navbar-is-fixed-top header#navbar .navbar-collapse #choose-language-wrap #choose-language:hover i {
  color: #f9bb53;
}

@media (max-width: 768px) {
  body.navbar-is-fixed-top header#navbar .navbar-collapse #choose-language-wrap #choose-language:hover i {
    color: #fff;
  }
}

body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li {
  text-align: center;
}

body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li a {
  display: inline-block;
  color: white;
  background: transparent;
  width: auto;
  padding: 0;
  margin: 15px 20px 0;
  font-size: 14px;
  font-family: "PlutoSansLight", Verdana, sans-serif;
}

body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li.active a {
  border-bottom: 3px solid #065ca2;
}

body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li ul.dropdown-menu li a {
  margin: 0;
  color: black;
  padding: 5px 0;
}

@media (max-width: 1024px) {
  body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li ul.dropdown-menu {
    position: static;
    float: none;
    background: transparent;
    border: none;
    box-shadow: none;
  }

  body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li ul.dropdown-menu li a {
    color: white;
  }
}

body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li.dropdown a {
  margin-right: 5px;
}

body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li.dropdown .caret {
  margin-right: 15px;
  color: white;
}

@media (min-width: 1025px) {
  body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li.dropdown:hover ul.dropdown-menu {
    display: block;
  }
}

@media (min-width: 768px) {
  header > .container,
  .main-container > .container {
    position: relative;
  }

  header > .container:before,
  .main-container > .container:before {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }

  header > .container:after,
  .main-container > .container:after {
    webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }
}

.main-container {
  background-color: #f8f8f8;
  position: relative;
  padding-bottom: 45px;
  font-family: "MontserratLight", Verdana, sans-serif;
}

@media (max-width: 768px) {
  .main-container {
    padding-bottom: 0;
  }
}

.main-container > .container {
  background-color: white;
  min-height: 90vh;
  position: relative;
}

@media (max-width: 768px) {
  .main-container > .container {
    padding: 20px;
  }
}

.main-container > .container header h2,
.main-container > .container header h1.page-header {
  width: auto;
  display: inline-block;
}

.main-container > .container h2 {
  font-family: "MontserratRegular", Verdana, sans-serif;
}

.main-container > .container p, .main-container > .container span {
  font-family: "MontserratLight", Verdana, sans-serif;
}

.main-container > .container > .content {
  overflow: hidden;
}

@media (max-width: 992px) {
  .main-container > .container > .content {
    padding: 0 50px 0 35px;
  }
}

@media (max-width: 768px) {
  .main-container > .container > .content {
    padding: 0 5%;
  }
}

aside.secondary {
  display: inline-block;
  float: right;
  position: fixed;
  background-color: #f4f4f4;
  height: 100% !important;
  z-index: 1;
  width: 400px;
}

@media (max-width: 992px) {
  aside.secondary {
    position: static;
    height: auto !important;
    width: 100% !important;
  }
}

aside.secondary section {
  padding: 20px;
}

.not-ie-br aside.secondary {
  height: 100vh !important;
}

@media (max-width: 992px) {
  .not-ie-br aside.secondary {
    height: auto !important;
  }
}

.ie-br .main-container .content {
  position: relative;
}

.ie-br aside.secondary {
  position: absolute;
  right: 0;
}

@media (max-width: 992px) {
  .ie-br aside.secondary {
    position: static !important;
  }
}

section.content-side {
  display: inline-block;
  float: left;
  width: 100%;
}

@media (min-width: 992px) {
  section.content-side section,
  section.content-side > .view {
    padding: 0 50px 0 35px;
  }
}

.btn-custom,
.btn-primary,
.btn-default {
  background-color: #f9bb53;
  color: #fff;
  border-radius: 0;
  border: none;
  padding-top: 7px;
}

.btn-custom:hover,
.btn-primary:hover,
.btn-default:hover {
  background-color: #065ca2;
  color: white;
  border: none;
}

a {
  color: #065ca2;
}

a:hover {
  color: #2b3b45;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "MontserratRegular", Verdana, sans-serif;
}

input[type="radio"]:checked + label {
  font-weight: bold;
}

.view-downloads-center {
  margin-top: 20px;
}

.view-downloads-center #request-printed-version .form-actions {
  text-align: center;
}

.view-downloads-center ul.pager, .view-downloads-center > .text-center {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.view-downloads-center div.view-filters {
  width: 28%;
  float: right;
  background-color: #e2e2e2;
  padding: 15px 15px 0;
}

.view-downloads-center div.view-filters .views-exposed-widgets .views-exposed-widget {
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
}

.view-downloads-center div.view-filters .views-exposed-widgets .views-exposed-widget.views-widget-filter-field_widen_country_value, .view-downloads-center div.view-filters .views-exposed-widgets .views-exposed-widget.views-widget-filter-field_widen_languages_value {
  display: none;
}

.view-downloads-center div.view-content .download-item {
  position: relative;
  padding: 15px 0 30px;
}

.view-downloads-center div.view-content .download-item:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  border-bottom: 1px solid #a2a2a2;
}

.view-downloads-center div.view-content .download-item .links.views-fieldset {
  margin-top: 10px;
}

.view-downloads-center div.view-content .download-item .links.views-fieldset .views-field {
  display: inline-block;
}

@media (min-width: 768px) {
  .view-downloads-center div.view-content .download-item .links.views-fieldset .views-field {
    display: block;
  }
}

@media (min-width: 768px) {
  .view-downloads-center div.view-content .download-item .links.views-fieldset .field-content {
    display: block;
  }
}

@media (min-width: 768px) {
  .view-downloads-center div.view-content .download-item .links.views-fieldset .field-content a {
    display: block;
    width: 100%;
    margin: 0 0 10px;
  }
}

@media (max-width: 480px) {
  .view-downloads-center div.view-content .download-item .links.views-fieldset .views-field {
    margin-bottom: 10px;
  }
}

.view-downloads-center div.view-content .download-item .links.views-fieldset .views-field-view-node a {
  font-size: 13px;
  color: #919191;
}

.view-downloads-center div.view-content .download-item .image.views-fieldset {
  max-width: 130px;
}

@media (max-width: 480px) {
  .view-downloads-center div.view-content .download-item .image.views-fieldset {
    width: 100%;
    max-width: none;
  }

  .view-downloads-center div.view-content .download-item .image.views-fieldset img {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .view-downloads-center div.view-content .download-item .content.views-fieldset {
    width: 100%;
    float: left;
  }
}

.view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
  font-size: 24px;
  color: #000;
  margin-top: 5px;
  font-family: "MontserratRegular", Verdana, sans-serif;
}

@media (max-width: 480px) {
  .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
    font-size: 20px;
  }
}

.view-downloads-center div.view-content .download-item .content.views-fieldset h3 a {
  color: black;
}

.view-downloads-center div.view-content .download-item .content.views-fieldset .views-field.views-field-body .views-label {
  display: block;
}

.view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .views-label, .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .label-inline {
  display: inline;
  margin-right: 5px;
  font-family: "MontserratSemibold", Verdana, sans-serif;
}

.view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .field-content {
  display: inline;
}

.view-downloads-center div.view-content .download-item .content.views-fieldset .see-more-link {
  font-family: "MontserratSemibold", Verdana, sans-serif;
  color: #f9bb53;
  margin-right: 5px;
  margin-left: 10px;
  white-space: nowrap;
}

.view-downloads-center div.view-content .download-item .content.views-fieldset .see-more-link:hover {
  color: #065ca2;
  text-decoration: none;
}

.view-downloads-center div.view-content .download-item .content.views-fieldset .see-more {
  display: none;
  font-weight: normal;
}

.view-downloads-center div.view-footer #request-printed-version .webform-client-form label {
  display: none;
}

.view-downloads-center div.view-footer #request-printed-version .webform-client-form .form-type-checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.view-downloads-center div.view-footer #request-printed-version .webform-client-form .form-type-checkbox input {
  margin-left: 0;
}

.view-downloads-center div.view-footer #request-printed-version .webform-client-form .form-type-checkbox label {
  display: inline-block;
}

.view-downloads-center .views-field-field-widen-languages .see-more-link,
.view-downloads-center .views-field-field-widen-country .see-more-link {
  margin-left: 5px;
}

.i18n-ar div.view-footer #request-printed-version .webform-client-form .form-type-checkbox label {
  display: inline-block;
  margin-right: 20px;
}

.views-exposed-form .form-item.form-type-checkbox label {
  position: relative;
  padding-left: 30px;
}

.views-exposed-form .form-item.form-type-checkbox input[type=checkbox] {
  margin: 0;
  position: static;
  display: none;
}

.views-exposed-form .form-item.form-type-checkbox input[type=checkbox] + label:before {
  position: absolute;
  left: 0;
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: white;
  margin-right: 5px;
  border: 1px solid #a2a2a2;
}

.views-exposed-form .form-item.form-type-checkbox input[type=checkbox]:checked + label:after {
  border: 1px solid #a2a2a2;
  position: absolute;
  left: 0;
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  line-height: 1;
  top: 0;
}

.views-exposed-form label {
  font-family: "MontserratSemibold", Verdana, sans-serif;
  font-weight: normal;
}

.views-exposed-form #edit-field-resource-language-tid-wrapper,
.views-exposed-form #edit-field-resource-country-tid-wrapper {
  display: none;
}

.views-exposed-form .views-exposed-widget {
  float: none;
}

.views-exposed-form .form-submit.btn-info,
.views-exposed-form .btn-primary {
  background-color: #065ca2;
  color: #fff;
  border-radius: 0;
  border: none;
  padding-top: 7px;
  margin-top: 10px;
}

.views-exposed-form .form-submit.btn-info:hover,
.views-exposed-form .btn-primary:hover {
  background-color: #63666A;
  color: white;
  border: none;
}

.form-item-field-asset-title-value-1 {
  position: relative;
}

.form-item-field-asset-title-value-1:after {
  content: "\f002";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: 10px;
  top: 9px;
  cursor: pointer;
}

ul.pagination li.active span, ul.pagination li.disabled.active span {
  background-color: #065ca2;
  border-color: #a2a2a2;
  color: #fff;
  z-index: 0;
}

ul.pagination li.active span:hover, ul.pagination li.disabled.active span:hover {
  background-color: #63666A;
}

ul.pagination li a, ul.pagination li span, ul.pagination li.disabled a, ul.pagination li.disabled span {
  display: inline-block;
  color: #000;
  background-color: transparent;
  border-color: #a2a2a2;
}

ul.pagination li a:hover, ul.pagination li span:hover, ul.pagination li.disabled a:hover, ul.pagination li.disabled span:hover {
  background-color: #065ca2;
  color: white;
  border-color: #a2a2a2;
}

.ajax-progress-throbber {
  display: none;
}

.webform-confirmation {
  text-align: center;
}

@media (max-width: 768px) {
  #block-views-downloads-center-block div.view-filters,
  #block-views-downloads-center-block div.view-content {
    width: 100%;
  }
}

footer {
  background-color: #fff;
}

footer .container {
  padding: 0 20px;
}

footer .container span, footer .container a, footer .container p {
  color: #fff;
  font-size: 12px;
  margin-bottom: 0;
}

footer .container .region-footer a:hover,
footer .container .region-footer a:focus {
  color: #f9bb53;
  text-decoration: none;
}

.footer {
  position: fixed;
  z-index: 4;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  border-top: none;
  background-color: #065ca2;
}

@media (max-width: 768px) {
  .footer {
    position: static;
  }
}

.region-footer:before, .region-footer:after {
  content: " ";
  display: table;
}

.region-footer:after {
  display: block;
  clear: both;
  height: 1px;
  margin-top: -1px;
  visibility: hidden;
}

.region-footer {
  *zoom: 1;
}

.region-footer .block-menu {
  float: left;
}

@media (max-width: 767px) {
  .region-footer .block-menu {
    float: none;
    text-align: center;
  }
}

.region-footer .block-menu .block-title {
  display: none;
}

.region-footer .menu:before, .region-footer .menu:after {
  content: " ";
  display: table;
}

.region-footer .menu:after {
  display: block;
  clear: both;
  height: 1px;
  margin-top: -1px;
  visibility: hidden;
}

.region-footer .menu {
  *zoom: 1;
}

@media (max-width: 767px) {
  .region-footer .menu {
    display: inline-block;
  }
}

.region-footer .menu li {
  float: left;
}

.region-footer #block-block-1 {
  float: right;
  padding: 10px 0 0;
}

@media (max-width: 767px) {
  .region-footer #block-block-1 {
    float: none;
    text-align: center;
  }
}

#page-header {
  max-width: 1140px;
}

@media (min-width: 768px) {
  #page-header {
    width: 720px;
  }
}

@media (min-width: 992px) {
  #page-header {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  #page-header {
    width: 1140px;
  }
}

@media (max-width: 768px) {
  #page-header {
    margin-right: 20px;
  }
}

@media (max-width: 520px) {
  #page-header {
    left: 0;
    right: 0;
    margin-right: 0;
  }
}

#page-header #block-block-2 {
  background-color: #fff;
  padding: 50px 0 30px 0;
}

#page-header #block-block-2 h2 {
  margin-top: 0;
  color: #63666a;
}

#page-header #block-block-2 p {
  color: #78797c;
  width: 100%;
}

#page-header .views-exposed-widgets {
  position: relative;
  padding-bottom: 75px;
  background-color: #fff;
}

#page-header .views-exposed-widgets .form-item-all-languages {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f4f4f4;
  padding: 15px;
}

#page-header .views-exposed-widgets .form-item-all-languages label {
  font-family: "MontserratLight", Verdana, sans-serif;
}

#page-header .views-exposed-widgets .form-item-all-languages label span {
  font-family: "MontserratSemibold", Verdana, sans-serif;
}

#page-header .views-exposed-widgets .form-control {
  border: 1px solid #f9bb53;
  border-radius: 0;
  height: 32px;
}

#page-header .views-widget-filter-combine,
#page-header .views-widget-filter-field_resource_product_tid,
#page-header .views-widget-filter-field_resource_part_number_tid {
  background-color: #f4f4f4;
  float: left;
  width: 31%;
  margin-right: 39px;
  padding: 15px;
}

#page-header .views-widget-filter-combine label,
#page-header .views-widget-filter-field_resource_product_tid label,
#page-header .views-widget-filter-field_resource_part_number_tid label {
  margin-bottom: 0;
}

#page-header .views-widget-filter-combine .description,
#page-header .views-widget-filter-field_resource_product_tid .description,
#page-header .views-widget-filter-field_resource_part_number_tid .description {
  color: #78797c;
  font-size: 13px;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  #page-header .views-widget-filter-combine,
  #page-header .views-widget-filter-field_resource_product_tid,
  #page-header .views-widget-filter-field_resource_part_number_tid {
    width: 30%;
    margin-right: 46px;
  }
}

@media (max-width: 992px) {
  #page-header .views-widget-filter-combine,
  #page-header .views-widget-filter-field_resource_product_tid,
  #page-header .views-widget-filter-field_resource_part_number_tid {
    margin-right: 35px;
  }
}

@media (max-width: 768px) {
  #page-header .views-widget-filter-combine,
  #page-header .views-widget-filter-field_resource_product_tid,
  #page-header .views-widget-filter-field_resource_part_number_tid {
    float: none;
    width: unset;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

#page-header .views-widget-filter-field_resource_part_number_tid {
  margin-right: 0;
}

@media (max-width: 768px) {
  #page-header .views-widget-filter-field_resource_part_number_tid {
    margin-bottom: 0;
  }
}

#page-header .form-item-combine {
  position: relative;
}

#page-header .form-item-combine button {
  position: absolute;
  right: 0;
  top: 0;
  height: 32px;
  width: 32px;
  border: none;
  background-image: url(/sites/all/themes/ormco_download_center/img/search.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.views-submit-button button {
  display: none;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
}

.select2-container .select2-selection {
  display: block;
  height: 32px;
  background-color: #fff;
  background-image: url(/sites/all/themes/ormco_download_center/img/dropdown.svg);
  background-repeat: no-repeat;
  background-position: right;
  border: 1px solid #f9bb53;
  border-radius: 0;
}

.select2-container .select2-selection__rendered {
  line-height: 32px;
  padding-left: 10px;
}

body .select2-container--default {
  background-color: #fff;
  border: 1px solid #aaa;
  border-top: unset;
}

body .select2-container--default ul {
  padding-left: 0;
  overflow-y: auto;
  max-height: 250px;
}

body .select2-container--default li {
  list-style: none;
}

body .select2-container--default .select2-search--dropdown {
  display: block;
  padding: 4px;
}

body .select2-container--default .select2-search__field {
  width: 100%;
  padding: 4px;
  border: 1px solid #f9bb53;
  -webkit-appearance: none;
}

body .select2-container--default .select2-search__field:focus {
  outline: none;
  border-color: #f9bb53;
}


body .select2-container--default .select2-results__option {
  padding: 6px;
}

body .select2-container--default .select2-results__option--highlighted {
  background-color: #f9bb53;
  color: #fff;
}

#page-header .select2-container--default {
  border: none;
}

@-webkit-keyframes shake {
  0% {
    transform: rotateZ(0);
  }
  10% {
    transform: rotateZ(-30deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  30% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(7.5deg);
  }
  50% {
    transform: rotateZ(-6deg);
  }
  60% {
    transform: rotateZ(5deg);
  }
  70% {
    transform: rotateZ(-4.28571deg);
  }
  80% {
    transform: rotateZ(3.75deg);
  }
  90% {
    transform: rotateZ(-3.33333deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@-moz-keyframes shake {
  0% {
    transform: rotateZ(0);
  }
  10% {
    transform: rotateZ(-30deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  30% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(7.5deg);
  }
  50% {
    transform: rotateZ(-6deg);
  }
  60% {
    transform: rotateZ(5deg);
  }
  70% {
    transform: rotateZ(-4.28571deg);
  }
  80% {
    transform: rotateZ(3.75deg);
  }
  90% {
    transform: rotateZ(-3.33333deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes shake {
  0% {
    transform: rotateZ(0);
  }
  10% {
    transform: rotateZ(-30deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  30% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(7.5deg);
  }
  50% {
    transform: rotateZ(-6deg);
  }
  60% {
    transform: rotateZ(5deg);
  }
  70% {
    transform: rotateZ(-4.28571deg);
  }
  80% {
    transform: rotateZ(3.75deg);
  }
  90% {
    transform: rotateZ(-3.33333deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

#header-help {
  float: right;
  vertical-align: middle;
  height: 35px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  padding: 0;
  margin-top: 2px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  #header-help {
    margin-right: 25px;
  }
}

#header-help .help-container {
  text-align: right;
  /*float: right;*/
  overflow: hidden;
  position: relative;
  right: 0;
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 35px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#header-help .help-container.open {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  min-width: 100px;
}

#header-help .help-text {
  white-space: nowrap;
  height: 100%;
  position: absolute;
  text-align: right;
  top: 2px;
  right: 0;
  -webkit-transition: right 0.8s ease-in-out;
  -moz-transition: right 0.8s ease-in-out;
  -o-transition: right 0.8s ease-in-out;
  transition: right 0.8s ease-in-out;
}

@media (min-width: 768px) {
  #header-help .help-text :hover {
    color: #065ca2;
  }
}

#header-help .help-text {
  width: 100%;
  float: right;
  text-align: right;
}

#header-help .help-phone {
  white-space: nowrap;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 2px;
  right: 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#header-help .help-text.out {
  right: -150px;
}

#header-help .help-phone.out {
  right: -165px;
}

#header-help .fa-question-circle {
  vertical-align: bottom;
}

#navbar i {
  color: #fff;
  font-size: 22px;
}

#header-help .h3 {
  font-family: "MontserratLight", Verdana, sans-serif;
  position: relative;
  top: 50%;
  font-size: 14px;
  margin-top: 4px;
  margin-right: 3px;
  margin-bottom: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

#header-help i.fa-mobile {
  float: left;
  font-size: 22px;
  margin: -8px 0 0 3px;
}

#header-help .shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: shake;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#header-help .help-container {
  width: 165px;
}

@media (max-width: 767px) {
  #header-help .help-container {
    width: 130px;
  }
}

.navbar-collapse #choose-language-wrap {
  border-left: 1px solid #fff;
}

.navbar-collapse #choose-language-wrap #choose-language {
  margin-left: 10px !important;
}

.view-downloads-center div.view-content .download-item .links.views-fieldset .views-field {
  display: block;
  width: 190px;
  margin-left: auto;
}

@media (max-width: 767px) {
  .view-downloads-center div.view-content .download-item .links.views-fieldset .views-field {
    display: block !important;
    margin-left: unset;
  }
}

.content-side .view-downloads-center div.view-content .download-item:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(110, 113, 110, 0.3);
}

.download-item .links .download-link,
.download-item .links .request-printed-version {
  padding: 10px 0;
}

.download-item .links .download-link:before {
  content: "";
  display: inline-block;
  background: url(/sites/all/themes/ormco_download_center/img/download.svg) no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

html[dir='rtl'] .download-item .links .download-link:before {
  margin-right: 0;
  margin-left: 10px;
}

.download-item .links .download-link:hover:before {
  background: url(/sites/all/themes/ormco_download_center/img/download_white.svg) no-repeat;
}

@media (max-width: 767px) {
  .download-item .links .download-link {
    display: block;
  }
}

.download-item .links .request-printed-version {
  background-color: #fff;
  color: #f9bb53;
  /*background-color: transparent;*/
  border: 1px solid rgba(249, 187, 83, 1);
}

.download-item .links .request-printed-version:hover {
  background-color: #fff;
  color: #065ca2;
  /*background-color: transparent;*/
  border: 1px solid rgba(6, 92, 162, 1);
}

@media (max-width: 767px) {
  .download-item .links .request-printed-version {
    display: block;
    margin-top: 10px;
  }
}

/*.download-item .links .request-printed-version:hover {*/
/*  background-color: #c4d82e;*/
/*  color: #fff;*/
/*}*/

.download-item .links .request-printed-version:before {
  content: "";
  display: inline-block;
  background: url(/sites/all/themes/ormco_download_center/img/print.svg) no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.download-item .links .request-printed-version:hover:before {
  background: url(/sites/all/themes/ormco_download_center/img/print_hover.svg) no-repeat;
}

html[dir='rtl'] .links .request-printed-version:before {
  margin-right: 0;
  margin-left: 10px;
}

ul.pagination li a,
ul.pagination li.disabled span {
  color: #000 !important;
}

ul.pagination li a:hover,
ul.pagination li.disabled span:hover {
  color: #fff !important;
}

@media (max-width: 480px) {
  .view-downloads-center div.view-content .download-item .image.views-fieldset img {
    margin: unset !important;
  }
}

#navbar #choose-language span {
  vertical-align: text-bottom;
  margin-right: 3px;
}

@media (min-width: 768px) {
  #navbar #choose-language span:hover {
    color: #f9bb53;
  }
}

#user-login .glyphicon-log-in {
  display: none;
}

.modal-content {
  -webkit-box-shadow: unset;
  box-shadow: unset;
  border-radius: unset;
}

/* Header Tabs styles */
.header-tabs {
  position: relative;
  background-color: #f4f4f4;
}

.view-header-tabs-view .view-content .views-row .views-fieldset {
  background-color: #ffffff;
}


.view-header-tabs-view .view-content {
  display: flex;
  justify-content: start;
  padding-left: 0;
  margin-bottom: 0;
}

.view-header-tabs-view .view-content .views-row {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.view-header-tabs-view .view-content .views-row .views-fieldset {
  position: absolute;
  left: 0;
  right: 0;
}

.view-header-tabs-view .views-field-title {
  color: #63666a;
  display: inline-block;
  align-self: center;
  padding-top: 10px;
  width: 100%;
  border-bottom: 3px solid transparent;
  margin-bottom: 10px;
}

.view-header-tabs-view .active-tab .views-field-title {
  color: #333333;
  border-bottom-color: #f9bb53;
  cursor: pointer;
}

.view-header-tabs-view .views-field-body {
  position: relative;
  color: #78797c;
  max-width: 1140px;
  margin: 0 auto;
  padding: 18px 0 48px 0;
}

.view-header-tabs-view .view-content .close {
  margin-left: auto;
  font-size: 26px;
  padding-bottom: 3px;
}

html[dir='rtl'] .view-header-tabs-view .view-content .close {
  margin-right: auto;
  margin-left: unset;
}

.view-header-tabs-view .views-field-title:hover {
  cursor: pointer;
}

@media (min-width: 992px) {
  .view-header-tabs-view .views-field-title:hover {
    color: #333333;
    border-bottom-color: #f9bb53;
  }
}

@media (max-width: 1199px) {
  .view-header-tabs-view .views-field-body {
    max-width: 940px;
  }
}

@media (max-width: 991px) {
  #navbar .fa-globe {
    display: none;
  }

  body.navbar-is-fixed-top header#navbar .navbar-collapse #choose-language-wrap {
    margin-top: 18px;
  }

  .view-header-tabs-view .view-content {
    position: relative;
    flex-direction: column;
  }

  .view-header-tabs-view .view-content .views-row .views-fieldset {
    position: static;
    width: 100vw;
    margin-left: calc(-1 * ((100vw - 100%) / 2));
    max-height: 250px;
    overflow-y: scroll;
  }

  .view-header-tabs-view .views-field-title {
    align-self: flex-start;
    width: auto;
  }

  .view-header-tabs-view .views-field-body {
    max-width: 720px;
  }

  .view-header-tabs-view .view-content .views-row {
    margin-right: 0;
  }

  .view-header-tabs-view .view-content .close {
    position: absolute;
    right: 0;
    top: 5px;
  }
}

@media (max-width: 768px) {

  .navbar-header:before, .navbar-header:after {
    content: unset;
  }

  .view-header-tabs-view .view-content .views-row .views-fieldset {
    padding: 0 15px;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 22, 17, 0.4);
  z-index: 4;
  cursor: default;
}

.hide-overlay {
  display: none;
}

.webform-component-markup {
  padding: 0 15px;
}

.view-header-tabs-view .phone-help .header-help {
  display: inline-block;
  color: #63666a;
  float: unset;
  margin: 0;
  height: unset;
  padding-top: 10px;
  padding-bottom: 5px;
}

.view-header-tabs-view .phone-help .header-help:before {
  content: "";
  display: inline-block;
  background: url('../img/phone_icon.svg') no-repeat bottom;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

html[dir='rtl'] .view-header-tabs-view .phone-help .header-help:before {
  margin-left: 5px;
  margin-right: 20px;
}

.view-header-tabs-view .phone-help .header-help h3 {
  margin: 0;
}

#header-help .h3:after {
  content: "";
  display: inline-block;
  background: url('../img/help_arrow_down.svg') no-repeat bottom;
  width: 20px;
  height: 20px;
}

#header-help .h3:hover:after {
  background: url('../img/help_arrow_down_hover.svg') no-repeat bottom;
}

#header-help.help-active .h3:after {
  background: url('../img/help_arrow_up.svg') no-repeat bottom;
}

#header-help.help-active .h3:hover:after {
  background: url('../img/help_arrow_up_hover.svg') no-repeat bottom;
}

@media (min-width: 992px) {
  #header-help .h3:hover {
    color: #f9bb53;
  }
}

@media (max-width: 991px) {
  #header-help.help-active {
    color: #f9bb53;
  }

  #header-help.help-active .h3:after {
    background: url('../img/help_arrow_up_hover.svg') no-repeat bottom;
  }

  #header-help .h3:hover:after {
    background: url('../img/help_arrow_down.svg') no-repeat bottom;
  }
}

html[dir='rtl'] .select2-results__options {
  padding: 0;
}

html[dir='rtl'] .select2-selection__rendered {
  position: absolute;
  right: 45px;
}

body .btn-primary:active,
body .btn-primary:focus,
body .btn-primary:active:focus {
  background-color: #065ca2;
  border-color: unset;
}

.footer .nav > li > a:focus,
.footer .nav > li > a:hover {
  background-color: #065ca2;
}

body .btn:focus {
  color: #fff;
}

body a:focus {
  color: #065ca2;
  text-decoration: none;
}

/* styles for rtl languages */
html[dir='rtl'] .download-item .links .download-link:before,
html[dir='rtl'] .download-item .links .request-printed-version:before {
  margin-right: 0;
  margin-left: 10px;
}

html[dir='rtl'] #page-header .views-exposed-widgets .form-item-all-languages label {
  padding-right: 30px;
  padding-left: 0;
}

html[dir='rtl'] .views-exposed-form .form-item.form-type-checkbox input[type=checkbox] + label:before,
html[dir='rtl'] .views-exposed-form .form-item.form-type-checkbox input[type=checkbox] + label:after {
  right: 0;
  left: unset;
}

html[dir='rtl'] #page-header .views-exposed-widgets .form-control {
  padding-right: 35px;
}

html[dir='rtl'] #page-header .views-exposed-widgets .form-item-all-languages {
  left: 0;
}

#choose-language-wrap:hover a,
#choose-language-wrap:hover a span,
#choose-language-wrap:hover a i {
  color: #f9bb53;
}

/* styles for cookie notification */
#cookie-notification .implant-gdpr-overlay {
  background-color: #065ca2;
}
.implant-gdpr-inner-btn-wrapper .btn-custom {
  outline: none;
}
.implant-gdpr-inner-btn-wrapper .btn-custom:active,
.implant-gdpr-inner-btn-wrapper .btn-custom:focus,
.implant-gdpr-inner-btn-wrapper .btn-custom:hover {
  border-radius: 0;
  outline: none;
  background-color: #fff;
  color: #f9bb53;
}
.implant-direct-overlay .implant-direct-popup .cookie-notification-btn[disabled] {
  background-color: #065ca2;
}
