.implant-direct-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(17, 22, 17, 0.4);
    z-index: 9999;
    cursor: default;
}

.implant-direct-overlay .implant-direct-popup {
    background-color: #fff;
    border-radius: 2px;
    font-size: 20px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: auto;
    max-height: 95%;
    flex-direction: column;
    overflow-y: auto;
    max-width: 1020px;
    z-index: 5;
}

.implant-gdpr-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #6e716e;
    color: #ffffff;
    padding: 20px 0;
}

.implant-gdpr-overlay .implant-gdpr-inner-text-wrapper {
    width: 75%;
    float: left;
}

.implant-gdpr-overlay .implant-gdpr-inner-btn-wrapper {
    width: 20%;
    position: absolute;
    right: 5%;
    top: 40%;
}

@media (max-width: 576px) {
    .implant-gdpr-overlay .implant-gdpr-inner-btn-wrapper {
        position: static;
    }

    .implant-gdpr-overlay button {
        margin-top: 15px;
    }
}

#cookie-notification .implant-gdpr-overlay p {
    color: #ffffff;
    font-size: 16px;
}

.implant-direct-overlay .implant-direct-popup, .implant-gdpr-overlay {
    display: none;
}


.implant-direct-overlay .implant-direct-popup h3 {
    font-weight: 700;
}

.implant-direct-overlay .implant-direct-popup .cookie-notification__text {
    margin-bottom: 20px;
}

.implant-direct-overlay .implant-direct-popup p, .form-item-terms-accept-checkbox {
  color: #333333;
  font-size: 14px;
}

.implant-direct-overlay .implant-direct-popup .form-item-terms-accept-checkbox input {
    margin-left: 0;
}

#cookie-notification .implant-direct-popup .form-item-terms-accept-checkbox label p a {
    font-size: 14px;
    font-weight: 700;
    color: #e57200;
    text-decoration: underline;
}

.implant-direct-overlay .implant-direct-popup .cookie-notification-btn[disabled] {
    background-color: #63666A;
}

/* styles for rtl*/
html[dir='rtl'] #cookie-notification .implant-direct-popup .form-item-terms-accept-checkbox label {
  padding-right: 20px;
}
