@font-face {
  font-family: "PlutoSansMedium";
  src: url("../fonts/PlutoSansMedium.eot");
  src: url("../fonts/PlutoSansMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansMedium.woff2") format("woff2"), url("../fonts/PlutoSansMedium.woff") format("woff"), url("../fonts/PlutoSansMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PlutoSansCondMedium";
  src: url("../fonts/PlutoSansCondMedium.eot");
  src: url("../fonts/PlutoSansCondMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansCondMedium.woff2") format("woff2"), url("../fonts/PlutoSansCondMedium.woff") format("woff"), url("../fonts/PlutoSansCondMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PlutoSans";
  src: url("../fonts/PlutoSansLight.eot");
  src: url("../fonts/PlutoSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansLight.woff2") format("woff2"), url("../fonts/PlutoSansLight.woff") format("woff"), url("../fonts/PlutoSansLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PlutoSansLight";
  src: url("../fonts/PlutoSansLight.eot");
  src: url("../fonts/PlutoSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansLight.woff2") format("woff2"), url("../fonts/PlutoSansLight.woff") format("woff"), url("../fonts/PlutoSansLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PlutoSansCondLight";
  src: url("../fonts/PlutoSansCondLight.eot");
  src: url("../fonts/PlutoSansCondLight.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansCondLight.woff2") format("woff2"), url("../fonts/PlutoSansCondLight.woff") format("woff"), url("../fonts/PlutoSansCondLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*Ukranian Site CSS*/
body.i18n-uk {
  font-family: "Verdana", sans-serif; }

body.i18n-uk header#navbar .navbar-collapse #choose-language-wrap #choose-language span {
  font-family: "Verdana", sans-serif; }

body.i18n-uk h1, body.i18n-uk h2, body.i18n-uk h3, body.i18n-uk h4, body.i18n-uk h5, body.i18n-uk h6, body.i18n-uk .h1, body.i18n-uk .h2, body.i18n-uk .h3, body.i18n-uk .h4, body.i18n-uk .h5, body.i18n-uk .h6 {
  font-family: "Verdana", sans-serif; }

body.i18n-uk header h1 {
  font-family: "Verdana", sans-serif; }

body.i18n-uk div.main-container {
  font-family: "Verdana", sans-serif; }

body.i18n-uk > .main-container > .container p, body.i18n-uk > .main-container > .container span {
  font-family: "Verdana", sans-serif; }

body.i18n-uk .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
  font-family: "Verdana", sans-serif; }

body.i18n-uk .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .views-label, .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field {
  font-family: "Verdana", sans-serif; }

body.i18n-uk .views-exposed-form label {
  font-family: "Verdana", sans-serif; }

body.i18n-uk .views-exposed-form .form-submit.btn-info, .views-exposed-form .btn-primary {
  font-family: "Verdana", sans-serif; }

body.i18n-uk .btn-custom {
  font-family: "Verdana", sans-serif; }

body.i18n-uk .main-container .container span {
  font-family: "Verdana", sans-serif; }

/*Russian Site CSS*/
body.i18n-ru {
  font-family: "Verdana", sans-serif; }

body.i18n-ru header#navbar .navbar-collapse #choose-language-wrap #choose-language span {
  font-family: "Verdana", sans-serif; }

body.i18n-ru h1, body.i18n-ru h2, body.i18n-ru h3, body.i18n-ru h4, body.i18n-ru h5, body.i18n-ru h6, body.i18n-ru .h1, body.i18n-ru .h2, body.i18n-ru .h3, body.i18n-ru .h4, body.i18n-ru .h5, body.i18n-ru .h6 {
  font-family: "Verdana", sans-serif; }

body.i18n-ru header h1 {
  font-family: "Verdana", sans-serif; }

body.i18n-ru div.main-container {
  font-family: "Verdana", sans-serif; }

body.i18n-ru > .main-container > .container p, body.i18n-ru > .main-container > .container span {
  font-family: "Verdana", sans-serif; }

body.i18n-ru .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
  font-family: "Verdana", sans-serif; }

body.i18n-ru .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .views-label, .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field {
  font-family: "Verdana", sans-serif; }

body.i18n-ru .views-exposed-form label {
  font-family: "Verdana", sans-serif; }

body.i18n-ru .views-exposed-form .form-submit.btn-info, .views-exposed-form .btn-primary {
  font-family: "Verdana", sans-serif; }

body.i18n-ru .btn-custom {
  font-family: "Verdana", sans-serif; }

body.i18n-ru .main-container .container span {
  font-family: "Verdana", sans-serif; }

/*Bulgarian Site CSS*/
body.i18n-bg {
  font-family: "Verdana", sans-serif; }

body.i18n-bg header#navbar .navbar-collapse #choose-language-wrap #choose-language span {
  font-family: "Verdana", sans-serif; }

body.i18n-bg h1, body.i18n-bg h2, body.i18n-bg h3, body.i18n-bg h4, body.i18n-bg h5, body.i18n-bg h6, body.i18n-bg .h1, body.i18n-bg .h2, body.i18n-bg .h3, body.i18n-bg .h4, body.i18n-bg .h5, body.i18n-bg .h6 {
  font-family: "Verdana", sans-serif; }

body.i18n-bg header h1 {
  font-family: "Verdana", sans-serif; }

body.i18n-bg div.main-container {
  font-family: "Verdana", sans-serif; }

body.i18n-bg > .main-container > .container p, body.i18n-bg > .main-container > .container span {
  font-family: "Verdana", sans-serif; }

body.i18n-bg .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
  font-family: "Verdana", sans-serif; }

body.i18n-bg .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .views-label, .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field {
  font-family: "Verdana", sans-serif; }

body.i18n-bg .views-exposed-form label {
  font-family: "Verdana", sans-serif; }

body.i18n-bg .views-exposed-form .form-submit.btn-info, .views-exposed-form .btn-primary {
  font-family: "Verdana", sans-serif; }

body.i18n-bg .btn-custom {
  font-family: "Verdana", sans-serif; }

body.i18n-bg .main-container .container span {
  font-family: "Verdana", sans-serif; }

/*Greek Site CSS*/
body.i18n-el {
  font-family: "Verdana", sans-serif; }

body.i18n-el header#navbar .navbar-collapse #choose-language-wrap #choose-language span {
  font-family: "Verdana", sans-serif; }

body.i18n-el h1, body.i18n-el h2, body.i18n-el h3, body.i18n-el h4, body.i18n-el h5, body.i18n-el h6, body.i18n-el .h1, body.i18n-el .h2, body.i18n-el .h3, body.i18n-el .h4, body.i18n-el .h5, body.i18n-el .h6 {
  font-family: "Verdana", sans-serif; }

body.i18n-el header h1 {
  font-family: "Verdana", sans-serif; }

body.i18n-el div.main-container {
  font-family: "Verdana", sans-serif; }

body.i18n-el > .main-container > .container p, body.i18n-el > .main-container > .container span {
  font-family: "Verdana", sans-serif; }

body.i18n-el .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
  font-family: "Verdana", sans-serif; }

body.i18n-el .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .views-label, .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field {
  font-family: "Verdana", sans-serif; }

body.i18n-el .views-exposed-form label {
  font-family: "Verdana", sans-serif; }

body.i18n-el .views-exposed-form .form-submit.btn-info, .views-exposed-form .btn-primary {
  font-family: "Verdana", sans-serif; }

body.i18n-el .btn-custom {
  font-family: "Verdana", sans-serif; }

body.i18n-el .main-container .container span {
  font-family: "Verdana", sans-serif; }

/*Language Switcer*/
div#language-region #block-locale-language h2.block-title,
div#language-region #block-locale-language ul.language-switcher-locale-url {
  font-family: "Verdana", sans-serif; }

html[dir='rtl'] #request-printed-version .webform-component--first-name {
  float: right; }

html[dir='rtl'] #request-printed-version .webform-component--last-name {
  float: left; }

html[lang='ja'] #request-printed-version .webform-component--first-name {
  float: right; }

html[lang='ja'] #request-printed-version .webform-component--last-name {
  float: left; }

html[lang='ja'] .view-downloads-center .views-field .views-label,
html[lang='ja'] .view-downloads-center .views-field .see-more-link {
  font-weight: bold; }

html[lang='ja'] .views-exposed-widget .form-item-all-languages .control-label span {
  font-weight: bold; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #474c55;
  font-family: "PlutoSansLight", Verdana, sans-serif; }
  body.navbar-is-fixed-top {
    padding-top: 50px; }
    body.navbar-is-fixed-top.logged-in {
      padding-top: 60px !important; }
      body.navbar-is-fixed-top.logged-in header#navbar {
        top: 40px; }
    body.navbar-is-fixed-top header#navbar {
      background-color: #474c55;
      z-index: 2; }
      @media (max-width: 768px) {
        body.navbar-is-fixed-top header#navbar .navbar-header {
          margin-left: inherit; }
          body.navbar-is-fixed-top header#navbar .navbar-header .navbar-toggle,
          body.navbar-is-fixed-top header#navbar .navbar-header .navbar-toggle:focus {
            border-color: transparent;
            background-color: transparent; }
            body.navbar-is-fixed-top header#navbar .navbar-header .navbar-toggle span,
            body.navbar-is-fixed-top header#navbar .navbar-header .navbar-toggle:focus span {
              background-color: white; } }
      body.navbar-is-fixed-top header#navbar .navbar-header a.logo {
        padding-top: 5px;
        margin-right: 40px; }
      body.navbar-is-fixed-top header#navbar #language-region {
        display: none;
        width: 100%;
        padding: 10px 0 20px;
        background-image: url("/sites/all/themes/eifu_download_center/images/country-menu-bg.jpg");
        background-size: cover;
        text-align: left;
        max-height: 60vh;
        overflow-y: scroll; }
        body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu,
        body.navbar-is-fixed-top header#navbar #language-region #block-locale-language {
          width: auto; }
          body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu .block-title,
          body.navbar-is-fixed-top header#navbar #language-region #block-locale-language .block-title {
            color: #474c55;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            margin-top: 10px; }
          body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.menu.nav,
          body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.language-switcher-locale-url,
          body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.menu.nav,
          body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.language-switcher-locale-url {
            padding-left: 0; }
            body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.menu.nav li,
            body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.language-switcher-locale-url li,
            body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.menu.nav li,
            body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.language-switcher-locale-url li {
              display: inline-block;
              width: 19%;
              text-align: center;
              margin-bottom: 10px; }
              @media (max-width: 768px) {
                body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.menu.nav li,
                body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.language-switcher-locale-url li,
                body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.menu.nav li,
                body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.language-switcher-locale-url li {
                  width: 30%;
                  margin-right: 0;
                  text-align: center; } }
              @media (max-width: 480px) {
                body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.menu.nav li,
                body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.language-switcher-locale-url li,
                body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.menu.nav li,
                body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.language-switcher-locale-url li {
                  width: 49%; } }
              body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.menu.nav li a,
              body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.language-switcher-locale-url li a,
              body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.menu.nav li a,
              body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.language-switcher-locale-url li a {
                padding: 10px 0;
                color: #474c55; }
                body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.menu.nav li a:hover,
                body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.language-switcher-locale-url li a:hover,
                body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.menu.nav li a:hover,
                body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.language-switcher-locale-url li a:hover {
                  background: transparent; }
              body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.menu.nav li h4,
              body.navbar-is-fixed-top header#navbar #language-region #block-menu-menu-language-menu ul.language-switcher-locale-url li h4,
              body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.menu.nav li h4,
              body.navbar-is-fixed-top header#navbar #language-region #block-locale-language ul.language-switcher-locale-url li h4 {
                font-size: 16px;
                color: #474c55;
                display: inline-block;
                margin-top: 10px;
                line-height: 18px;
                border-bottom: 1px solid #474c55;
                font-family: "PlutoSansMedium", Verdana, sans-serif; }
      body.navbar-is-fixed-top header#navbar .navbar-collapse {
        margin-bottom: 5px; }
        body.navbar-is-fixed-top header#navbar .navbar-collapse #choose-language-wrap {
          margin-top: 15px; }
          body.navbar-is-fixed-top header#navbar .navbar-collapse #choose-language-wrap #choose-language {
            color: white;
            background: transparent;
            width: auto;
            padding: 0;
            margin: 15px 20px 0;
            font-size: 14px;
            font-family: "PlutoSansLight", Verdana, sans-serif;
            text-decoration: none; }
            body.navbar-is-fixed-top header#navbar .navbar-collapse #choose-language-wrap #choose-language:hover i {
              color: #c4d82e; }
        body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li {
          text-align: center; }
          body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li a {
            display: inline-block;
            color: white;
            background: transparent;
            width: auto;
            padding: 0;
            margin: 15px 20px 0;
            font-size: 14px;
            font-family: "PlutoSansLight", Verdana, sans-serif; }
          body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li.active a {
            border-bottom: 3px solid #c4d82e; }
          body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li ul.dropdown-menu li a {
            margin: 0;
            color: black;
            padding: 5px 0; }
          @media (max-width: 1024px) {
            body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li ul.dropdown-menu {
              position: static;
              float: none;
              background: transparent;
              border: none;
              box-shadow: none; }
              body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li ul.dropdown-menu li a {
                color: white; } }
          body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li.dropdown a {
            margin-right: 5px; }
          body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li.dropdown .caret {
            margin-right: 15px;
            color: white; }
          @media (min-width: 1025px) {
            body.navbar-is-fixed-top header#navbar .navbar-collapse ul.menu.navbar-nav li.dropdown:hover ul.dropdown-menu {
              display: block; } }

@media (min-width: 768px) {
  header > .container,
  .main-container > .container {
    position: relative; }
    header > .container:before,
    .main-container > .container:before {
      display: block;
      -webkit-box-shadow: -20px 0 24px -24px inset;
      -moz-box-shadow: -20px 0 24px -24px inset;
      box-shadow: -20px 0 24px -24px inset;
      content: " ";
      height: 100%;
      left: -15px;
      position: absolute;
      top: 0;
      width: 15px;
      z-index: 10; }
    header > .container:after,
    .main-container > .container:after {
      display: block;
      -webkit-box-shadow: 20px 0 24px -24px inset;
      -moz-box-shadow: 20px 0 24px -24px inset;
      box-shadow: 20px 0 24px -24px inset;
      content: " ";
      height: 100%;
      position: absolute;
      right: -13px;
      top: 0;
      width: 15px;
      z-index: 10; } }

body {
  position: static; }

.main-container {
  background-color: #f8f8f8;
  position: relative;
  padding-bottom: 60px;
  font-family: "PlutoSansCondLight", Verdana, sans-serif; }
  @media (max-width: 768px) {
    .main-container {
      padding-bottom: 0; } }
  .main-container > .container {
    background-color: white;
    min-height: 90vh;
    position: relative; }
    @media (max-width: 768px) {
      .main-container > .container {
        padding: 20px; } }
    .main-container > .container header h2,
    .main-container > .container header h1.page-header {
      width: auto;
      display: inline-block; }
    .main-container > .container h2 {
      font-family: "PlutoSans", Verdana, sans-serif; }
    .main-container > .container p, .main-container > .container span {
      font-family: "PlutoSansCondLight", Verdana, sans-serif; }
    .main-container > .container > .content {
      overflow: hidden; }
      @media (max-width: 992px) {
        .main-container > .container > .content {
          padding: 0 50px 0 35px; } }
      @media (max-width: 768px) {
        .main-container > .container > .content {
          padding: 0 5%; } }

aside.secondary {
  display: inline-block;
  float: right;
  position: fixed;
  background-color: #e2e2e2;
  height: 100% !important;
  z-index: 1;
  width: 400px; }
  @media (max-width: 992px) {
    aside.secondary {
      position: static;
      height: auto !important;
      width: 100% !important; } }
  aside.secondary section {
    padding: 20px; }

.not-ie-br aside.secondary {
  height: 100vh !important; }
  @media (max-width: 992px) {
    .not-ie-br aside.secondary {
      height: auto !important; } }

.ie-br .main-container .content {
  position: relative; }

.ie-br aside.secondary {
  position: absolute;
  right: 0; }
  @media (max-width: 992px) {
    .ie-br aside.secondary {
      position: static !important; } }

section.content-side {
  display: inline-block; }
  @media (min-width: 992px) {
    section.content-side section,
    section.content-side > .view {
      padding: 0 50px 0 35px; } }

.btn-custom,
.btn-primary,
.btn-default {
  background-color: #c4d82e;
  color: #474b56;
  border-radius: 0;
  border: none;
  padding-top: 7px; }
  .btn-custom:hover,
  .btn-primary:hover,
  .btn-default:hover {
    background-color: #c4d82e;
    color: white;
    border: none; }

a {
  color: #c4d82e; }
  a:hover {
    color: #2b3b45;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "PlutoSans", Verdana, sans-serif; }

input[type="radio"]:checked + label {
  font-weight: bold; }

.view-downloads-center {
  margin-top: 20px; }
  .view-downloads-center #request-printed-version .form-actions {
    text-align: center; }
  .view-downloads-center ul.pager, .view-downloads-center > .text-center {
    display: inline-block;
    width: 100%;
    text-align: center; }
  .view-downloads-center div.view-filters {
    width: 28%;
    float: right;
    background-color: #e2e2e2;
    padding: 15px 15px 0; }
    .view-downloads-center div.view-filters .views-exposed-widgets .views-exposed-widget {
      width: 100%;
      padding: 0;
      margin-bottom: 10px; }
      .view-downloads-center div.view-filters .views-exposed-widgets .views-exposed-widget.views-widget-filter-field_widen_country_value, .view-downloads-center div.view-filters .views-exposed-widgets .views-exposed-widget.views-widget-filter-field_widen_languages_value {
        display: none; }
  .view-downloads-center div.view-content .download-item {
    position: relative;
    padding: 15px 0 30px; }
    .view-downloads-center div.view-content .download-item:after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 10%;
      width: 80%;
      border-bottom: 1px solid #a2a2a2; }
    .view-downloads-center div.view-content .download-item .links.views-fieldset {
      margin-top: 10px; }
      .view-downloads-center div.view-content .download-item .links.views-fieldset .views-field {
        display: inline-block; }
        @media (min-width: 768px) {
          .view-downloads-center div.view-content .download-item .links.views-fieldset .views-field {
            display: block; } }
      @media (min-width: 768px) {
        .view-downloads-center div.view-content .download-item .links.views-fieldset .field-content {
          display: block; } }
      @media (min-width: 768px) {
        .view-downloads-center div.view-content .download-item .links.views-fieldset .field-content a {
          display: block;
          width: 100%;
          margin: 0 0 10px; } }
      @media (max-width: 480px) {
        .view-downloads-center div.view-content .download-item .links.views-fieldset .views-field {
          margin-bottom: 10px; } }
      .view-downloads-center div.view-content .download-item .links.views-fieldset .views-field-view-node a {
        font-size: 13px;
        color: #919191; }
    .view-downloads-center div.view-content .download-item .image.views-fieldset {
      max-width: 130px; }
      @media (max-width: 480px) {
        .view-downloads-center div.view-content .download-item .image.views-fieldset {
          width: 100%;
          max-width: none; }
          .view-downloads-center div.view-content .download-item .image.views-fieldset img {
            margin: 0 auto; } }
    @media (max-width: 480px) {
      .view-downloads-center div.view-content .download-item .content.views-fieldset {
        width: 100%;
        float: left; } }
    .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
      font-size: 24px;
      color: #000;
      margin-top: 5px;
      font-family: "PlutoSans", Verdana, sans-serif; }
      @media (max-width: 480px) {
        .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
          font-size: 20px; } }
      .view-downloads-center div.view-content .download-item .content.views-fieldset h3 a {
        color: black; }
    .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field.views-field-body .views-label {
      display: block; }
    .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .views-label, .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .label-inline {
      display: inline;
      margin-right: 5px;
      font-family: "PlutoSansCondMedium", Verdana, sans-serif; }
    .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .field-content {
      display: inline; }
    .view-downloads-center div.view-content .download-item .content.views-fieldset .see-more-link {
      font-family: "PlutoSansCondMedium", Verdana, sans-serif;
      color: #c4d82e;
      margin-right: 5px;
      white-space: nowrap; }
      .view-downloads-center div.view-content .download-item .content.views-fieldset .see-more-link:hover {
        color: #2b3b45;
        text-decoration: none; }
    .view-downloads-center div.view-content .download-item .content.views-fieldset .see-more {
      display: none;
      font-weight: normal; }
  .view-downloads-center div.view-footer #request-printed-version .webform-client-form label {
    display: none; }
  .view-downloads-center div.view-footer #request-printed-version .webform-client-form .form-type-checkbox {
    margin-top: 0;
    margin-bottom: 0; }
    .view-downloads-center div.view-footer #request-printed-version .webform-client-form .form-type-checkbox input {
      margin-left: 0; }
    .view-downloads-center div.view-footer #request-printed-version .webform-client-form .form-type-checkbox label {
      display: inline-block; }
  .view-downloads-center .views-field-field-widen-languages .see-more-link,
  .view-downloads-center .views-field-field-widen-country .see-more-link {
    margin-left: 5px; }

.i18n-ar div.view-footer #request-printed-version .webform-client-form .form-type-checkbox label {
  display: inline-block;
  margin-right: 20px; }

.views-exposed-form .form-item.form-type-checkbox label {
  position: relative;
  padding-left: 20px; }

.views-exposed-form .form-item.form-type-checkbox input[type=checkbox] {
  margin: 0;
  position: static;
  display: none; }

.views-exposed-form .form-item.form-type-checkbox input[type=checkbox] + label:before {
  position: absolute;
  left: 0;
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: white;
  margin-right: 5px;
  border: 1px solid #a2a2a2; }

.views-exposed-form .form-item.form-type-checkbox input[type=checkbox]:checked + label:after {
  border: 1px solid #a2a2a2;
  position: absolute;
  left: 0;
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  line-height: 1;
  top: 0; }

.views-exposed-form label {
  font-family: "PlutoSansCondMedium", Verdana, sans-serif;
  font-weight: normal; }

.views-exposed-form #edit-field-resource-language-tid-wrapper,
.views-exposed-form #edit-field-resource-country-tid-wrapper {
  display: none; }

.views-exposed-form .views-exposed-widget {
  float: none; }

.views-exposed-form .form-submit.btn-info,
.views-exposed-form .btn-primary {
  background-color: #c4d82e;
  color: #474b56;
  border-radius: 0;
  border: none;
  padding-top: 7px;
  margin-top: 10px; }
  .views-exposed-form .form-submit.btn-info:hover,
  .views-exposed-form .btn-primary:hover {
    background-color: #c4d82e;
    color: white;
    border: none; }

.form-item-field-asset-title-value-1 {
  position: relative; }
  .form-item-field-asset-title-value-1:after {
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: pointer; }

ul.pagination li.active span, ul.pagination li.disabled.active span {
  background-color: #c4d82e;
  border-color: #a2a2a2;
  z-index: 0; }
  ul.pagination li.active span:hover, ul.pagination li.disabled.active span:hover {
    background-color: #c4d82e; }

ul.pagination li a, ul.pagination li span, ul.pagination li.disabled a, ul.pagination li.disabled span {
  display: inline-block;
  color: #000;
  background-color: transparent;
  border-color: #a2a2a2; }
  ul.pagination li a:hover, ul.pagination li span:hover, ul.pagination li.disabled a:hover, ul.pagination li.disabled span:hover {
    background-color: #c4d82e;
    color: white;
    border-color: #a2a2a2; }

.ajax-progress-throbber {
  display: none; }

.webform-confirmation {
  text-align: center; }

@media (max-width: 768px) {
  #block-views-downloads-center-block div.view-filters,
  #block-views-downloads-center-block div.view-content {
    width: 100%; } }

footer {
  background-color: #fff; }
  footer .container {
    padding: 0 20px; }
    footer .container .region-footer a:hover {
      color: #e57200;
      background-color: unset; }

.footer {
  position: fixed;
  z-index: 11;
  bottom: 0;
  width: 100%;
  padding: 5px 0; }
  @media (max-width: 768px) {
    .footer {
      position: static; } }

.region-footer:before, .region-footer:after {
  content: " ";
  display: table; }

.region-footer:after {
  display: block;
  clear: both;
  height: 1px;
  margin-top: -1px;
  visibility: hidden; }

.region-footer {
  *zoom: 1; }

.region-footer .block-menu {
  float: left; }
  @media (max-width: 767px) {
    .region-footer .block-menu {
      float: none;
      text-align: center; } }
  .region-footer .block-menu .block-title {
    display: none; }

.region-footer .menu:before, .region-footer .menu:after {
  content: " ";
  display: table; }

.region-footer .menu:after {
  display: block;
  clear: both;
  height: 1px;
  margin-top: -1px;
  visibility: hidden; }

.region-footer .menu {
  *zoom: 1; }

@media (max-width: 767px) {
  .region-footer .menu {
    display: inline-block; } }

.region-footer .menu li {
  float: left; }

.region-footer #block-block-1 {
  float: right;
  padding: 10px 0 0; }
  @media (max-width: 767px) {
    .region-footer #block-block-1 {
      float: none;
      text-align: center; } }


.form-group.error .control-label,
.form-group.error label,
.form-group.has-error .control-label,
.form-group.has-error label {
  font-weight: 400;
}
