#widen_embed_text_area
{
    width: 320px;
}

.widen_preview_image
{
    float:left;
    width:320px;
}

.widen_details_left
{
    float:left;
}

.widen_metadata
{
    margin: 5px;
    padding: 5px;
    float:right;
    width:320px;
    height:320px;
    max-height:500px;
    overflow:auto;
}