.widen_search_result
{
    float:left;
    margin:10px;
    width:150px;
    min-width:150px;
    border-style:solid;
    border-width:1px;
    position:relative;
}

.widen_results_embed
{
    height:260px;
}

.widen_thumbnail
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    max-height: 100px;
    max-width: 150px;
}

.widen_hover
{
    display: none;
    position: absolute;
    z-index: 110;
    left: 40;
    top: 10;
}

.widen_filename
{
    position:absolute;
    bottom: 0px;
    padding: 3px;
    left: 0;
    right: 0;
    word-wrap: break-word;
}

.widen_filename .form-item
{
    margin: 0;
}

.widen_embed_link {
  display: block;
}