.widen_search_box
{
    float:left;
    padding-right: 10px;
}

.widen_operation_select
{
    float:left;
    padding-right: 10px;
}

.widen_add_to_library_options
{
    display: none;
    border-style:solid;
    border-width:1px;
    width:100%;
    padding:10px;
}

.widen_page_nav
{
    float:right;
    padding-right:25px;
    margin-right:25px;
}

