body {
  position: static;
}

.main-container {
  background-color: #f8f8f8;
  position: relative;
  padding-bottom: 60px;
  font-family: "PlutoSansCondLight", Verdana, sans-serif;

  @media (max-width: 768px) {
    padding-bottom: 0;
  }

  > .container {
    background-color: white;
    //padding: 0 50px 20px;
    min-height: 90vh;
    position: relative;

    @media (max-width: 768px) {
      padding: 20px;
    }

    header {
      h2,
      h1.page-header {
        width: auto;
        display: inline-block;

        //.line {
        //    position: relative;
        //    margin-top: 5px;
        //
        //    .line-inner {
        //        position: absolute;
        //        top: 0;
        //        right: 0;
        //        width: 400%;
        //        border-bottom: 1px solid #a2a2a2;
        //    }
        //}
      }
    }

    h2 {
      font-family: "PlutoSans", Verdana, sans-serif;
    }

    p, span {
      font-family: "PlutoSansCondLight", Verdana, sans-serif;
    }

    > .content {
      overflow: hidden;

      @media (max-width: 992px) {
        padding: 0 50px 0 35px;
      }

      @media (max-width: 768px) {
        padding: 0 5%;
      }
    }
  }
}

aside.secondary {
  display: inline-block;
  float: right;
  position: fixed;
  background-color: #e2e2e2;
  height: 100% !important;
  z-index: 1;
  width: 400px;

  @media (max-width: 992px) {
    position: static;
    height: auto !important;
    width: 100% !important;
  }

  section {
    padding: 20px;
  }
}

.not-ie-br {
  aside.secondary {
    height: 100vh !important;

    @media (max-width: 992px) {
      height: auto !important;
    }
  }
}

.ie-br {
  .main-container {
    .content {
      position: relative;
    }
  }

  aside.secondary {
    position: absolute;
    right: 0;

    @media (max-width: 992px) {
      position: static !important;
    }
  }
}

section.content-side {
  display: inline-block;

  @media (min-width: 992px) {
    section,
    > .view {
      padding: 0 50px 0 35px;
    }
  }
}

.region.region-sidebar-second {
  //position: fixed;
  //background-color: #e2e2e2;
}

.btn-custom,
.btn-primary,
.btn-default {
  background-color: #c4d82e;
  color: #474b56;
  border-radius: 0;
  border: none;
  padding-top: 7px;

  &:hover {
    background-color: #c4d82e;
    color: white;
    border: none;
  }
}

a {
  color: #c4d82e;

  &:hover {
    color: #2b3b45;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "PlutoSans", Verdana, sans-serif;
}

input[type="radio"]:checked + label {
  font-weight: bold;
}
