@font-face {
  font-family: "PlutoSansMedium";
  src: url("../fonts/PlutoSansMedium.eot");
  src: url("../fonts/PlutoSansMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansMedium.woff2") format("woff2"), url("../fonts/PlutoSansMedium.woff") format("woff"), url("../fonts/PlutoSansMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlutoSansCondMedium";
  src: url("../fonts/PlutoSansCondMedium.eot");
  src: url("../fonts/PlutoSansCondMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansCondMedium.woff2") format("woff2"), url("../fonts/PlutoSansCondMedium.woff") format("woff"), url("../fonts/PlutoSansCondMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlutoSans";
  src: url("../fonts/PlutoSansLight.eot");
  src: url("../fonts/PlutoSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansLight.woff2") format("woff2"), url("../fonts/PlutoSansLight.woff") format("woff"), url("../fonts/PlutoSansLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlutoSansLight";
  src: url("../fonts/PlutoSansLight.eot");
  src: url("../fonts/PlutoSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansLight.woff2") format("woff2"), url("../fonts/PlutoSansLight.woff") format("woff"), url("../fonts/PlutoSansLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlutoSansCondLight";
  src: url("../fonts/PlutoSansCondLight.eot");
  src: url("../fonts/PlutoSansCondLight.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansCondLight.woff2") format("woff2"), url("../fonts/PlutoSansCondLight.woff") format("woff"), url("../fonts/PlutoSansCondLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}