footer {
  background-color: #fff;


  .container {
    padding: 0 20px;

    .region-footer {

      a:hover {
        color: #e57200;
        background-color: unset;
      }
    }
  }
}

.footer {
  position: fixed;
  z-index: 11;
  bottom: 0;
  width: 100%;
  padding: 5px 0;

  @media (max-width: 768px) {
    position: static;
  }
}

.region-footer {
  @include clearFix();

  .block-menu {
    float: left;

    @media (max-width: 767px) {
      float: none;
      text-align: center;
    }

    .block-title {
      display: none;
    }
  }

  .menu {
    @include clearFix();
    @media (max-width: 767px) {
      display: inline-block;
    }

    li {
      float: left;
    }
  }

  #block-block-1 {
    float: right;
    padding: 10px 0 0;

    @media (max-width: 767px) {
      float: none;
      text-align: center;
    }
  }
}
