body {
  @include font-smoothing(on);

  background-color: #474c55;
  font-family: "PlutoSansLight", Verdana, sans-serif;

  &.navbar-is-fixed-top {
    padding-top: 50px;

    &.logged-in {
      padding-top: 60px !important;

      header#navbar {
        top: 40px;
      }
    }

    header#navbar {
      background-color: #474c55;
      z-index: 2;

      .navbar-header {
        @media (max-width: 768px) {
          margin-left: inherit;

          .navbar-toggle,
          .navbar-toggle:focus {
            border-color: transparent;
            background-color: transparent;

            span {
              background-color: white;
            }
          }
        }

        a.logo {
          padding-top: 5px;
          margin-right: 40px;
        }
      }

      #language-region {
        display: none;
        width: 100%;
        padding: 10px 0 20px;
        background-image: url("/sites/all/themes/eifu_download_center/images/country-menu-bg.jpg");
        background-size: cover;
        text-align: left;
        max-height: 60vh;
        overflow-y: scroll;

        #block-menu-menu-language-menu,
        #block-locale-language {
          width: auto;

          .block-title {
            color: #474c55;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            margin-top: 10px;
          }

          ul.menu.nav,
          ul.language-switcher-locale-url {
            padding-left: 0;

            li {
              display: inline-block;
              width: 19%;
              text-align: center;
              margin-bottom: 10px;

              @media (max-width: 768px) {
                width: 30%;
                margin-right: 0;
                text-align: center;
              }

              @media (max-width: 480px) {
                width: 49%;
              }

              a {
                padding: 10px 0;
                color: #474c55;

                &:hover {
                  background: transparent;
                }
              }

              h4 {
                font-size: 16px;
                color: #474c55;
                display: inline-block;
                margin-top: 10px;
                line-height: 18px;
                border-bottom: 1px solid #474c55;
                font-family: "PlutoSansMedium", Verdana, sans-serif;
              }
            }
          }
        }
      }

      .navbar-collapse {
        margin-bottom: 5px;

        #choose-language-wrap {
          margin-top: 15px;

          #choose-language {
            color: white;
            background: transparent;
            width: auto;
            padding: 0;
            margin: 15px 20px 0;
            font-size: 14px;
            font-family: "PlutoSansLight", Verdana, sans-serif;
            text-decoration: none;

            &:hover i {
              color: #c4d82e;
            }
          }
        }

        ul.menu.navbar-nav {
          li {
            text-align: center;

            a {
              display: inline-block;
              color: white;
              background: transparent;
              width: auto;
              padding: 0;
              margin: 15px 20px 0;
              font-size: 14px;
              font-family: "PlutoSansLight", Verdana, sans-serif;
            }

            &.active {
              a {
                border-bottom: 3px solid #c4d82e;
              }
            }

            ul.dropdown-menu {
              li a {
                margin: 0;
                color: black;
                padding: 5px 0;
              }

              @media (max-width: 1024px) {
                position: static;
                float: none;
                background: transparent;
                border: none;
                box-shadow: none;

                li a {
                  color: white;
                }
              }
            }

            &.dropdown {
              a {
                margin-right: 5px;
              }

              .caret {
                margin-right: 15px;
                color: white;

                @media (max-width: 1024px) {
                  //width: 30px;
                }
              }

              @media (min-width: 1025px) {
                &:hover ul.dropdown-menu {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header > .container,
    //footer > .container,
  .main-container > .container {
    position: relative;

    &:before {
      display: block;
      -webkit-box-shadow: -20px 0 24px -24px inset;
      -moz-box-shadow: -20px 0 24px -24px inset;
      box-shadow: -20px 0 24px -24px inset;
      content: " ";
      height: 100%;
      left: -15px;
      position: absolute;
      top: 0;
      width: 15px;
      z-index: 10;
    }

    &:after {
      display: block;
      -webkit-box-shadow: 20px 0 24px -24px inset;
      -moz-box-shadow: 20px 0 24px -24px inset;
      box-shadow: 20px 0 24px -24px inset;
      content: " ";
      height: 100%;
      position: absolute;
      right: -13px;
      top: 0;
      width: 15px;
      z-index: 10;
    }
  }
}
