html[lang='ja'] {
  #request-printed-version {
    .webform-component--first-name {
      float: right;
    }
    .webform-component--last-name {
      float: left;
    }
  }
  .view-downloads-center {
    .views-field {
      .views-label,
      .see-more-link {
        font-weight: bold;
      }
    }
  }
  .views-exposed-widget {
    .form-item-all-languages {
      .control-label span {
        font-weight: bold;
      }
    }
  }
}
