.view-downloads-center {
  margin-top: 20px;

  #request-printed-version {
    .form-actions {
      text-align: center;
    }
  }

  ul.pager, > .text-center {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  div.view-filters {
    width: 28%;
    float: right;
    background-color: #e2e2e2;
    padding: 15px 15px 0;

    .views-exposed-widgets {
      .views-exposed-widget {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;

        &.views-widget-filter-field_widen_country_value,
        &.views-widget-filter-field_widen_languages_value {
          display: none;
        }
      }
    }
  }

  div.view-content {
    //width: 70%;
    //float: left;

    .download-item {
      position: relative;

      &:after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        border-bottom: 1px solid #a2a2a2;
      }

      padding: 15px 0 30px;

      .links.views-fieldset {
        margin-top: 10px;

        .views-field {
          display: inline-block;

          @media (min-width: 768px) {
            display: block;
          }

        }

        .field-content {
          @media (min-width: 768px) {
            display: block;
          }

          a {

            @media (min-width: 768px) {
              display: block;
              width: 100%;
              margin: 0 0 10px;
            }
          }
        }

        @media (max-width: 480px) {
          //text-align: center;

          .views-field {
            margin-bottom: 10px;
          }
        }

        //.download-link,
        //.request-printed-version {
        //    font-size: 13px;
        //    color: #14467c;
        //}

        //.request-printed-version-link {
        //    font-size: 13px;
        //    color: #14467c;
        //}

        .views-field-view-node a {
          font-size: 13px;
          color: #919191;
        }
      }

      .image.views-fieldset {
        max-width: 130px;

        @media (max-width: 480px) {
          width: 100%;
          max-width: none;

          img {
            margin: 0 auto;
          }
        }
      }

      .content.views-fieldset {
        @media (max-width: 480px) {
          width: 100%;
          float: left;
        }

        h3 {
          font-size: 24px;
          color: #000;
          margin-top: 5px;
          font-family: "PlutoSans", Verdana, sans-serif;

          @media (max-width: 480px) {
            font-size: 20px;
          }

          a {
            color: black;
          }
        }

        .views-field.views-field-body {
          .views-label {
            display: block;
          }
        }

        .views-field {
          .views-label, .label-inline {
            //font-weight: bold;
            display: inline;
            margin-right: 5px;
            font-family: "PlutoSansCondMedium", Verdana, sans-serif;
          }

          .field-content {
            display: inline;
          }
        }

        .see-more-link {
          font-family: "PlutoSansCondMedium", Verdana, sans-serif;
          color: #c4d82e;
          //margin-left: 5px;
          margin-right: 5px;
          white-space: nowrap;

          &:hover {
            color: #2b3b45;
            text-decoration: none;
          }
        }

        .see-more {
          display: none;
          font-weight: normal;
        }
      }
    }
  }

  div.view-footer {
    #request-printed-version {
      .webform-client-form {
        label {
          display: none;
        }

        .form-type-checkbox {
          margin-top: 0;
          margin-bottom: 0;

          input {
            margin-left: 0;
          }
          label {
            display: inline-block;
          }
        }
      }
    }
  }

  .views-field-field-widen-languages,
  .views-field-field-widen-country {
    .see-more-link {
      margin-left: 5px;
    }
  }
}

.i18n-ar {
  div.view-footer {
    #request-printed-version {
      .webform-client-form {
        .form-type-checkbox {
          label {
            display: inline-block;
            margin-right: 20px;
          }
        }
      }
    }
  }
}

.views-exposed-form {
  .form-item.form-type-checkbox {
    label {
      position: relative;
      padding-left: 20px;
    }

    input[type=checkbox] {
      margin: 0;
      position: static;
      display: none;
    }

    input[type=checkbox] + label {
      &:before {
        position: absolute;
        left: 0;
        content: " ";
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: white;
        margin-right: 5px;
        border: 1px solid #a2a2a2;
      }
    }

    input[type=checkbox]:checked + label {
      &:after {
        border: 1px solid #a2a2a2;
        position: absolute;
        left: 0;
        content: "\f00c";
        font-family: FontAwesome;
        display: inline-block;
        width: 16px;
        height: 16px;
        //background-color: #c4d82e;
        margin-right: 5px;
        line-height: 1;
        top: 0;
      }
    }
  }

  label {
    font-family: "PlutoSansCondMedium", Verdana, sans-serif;
    font-weight: normal;
  }

  #edit-field-resource-language-tid-wrapper,
  #edit-field-resource-country-tid-wrapper {
    display: none;
  }

  .views-exposed-widget {
    float: none;
  }

  .form-submit.btn-info,
  .btn-primary {
    background-color: #c4d82e;
    color: #474b56;
    border-radius: 0;
    border: none;
    padding-top: 7px;
    margin-top: 10px;

    &:hover {
      background-color: #c4d82e;
      color: white;
      border: none;
    }
  }
}

.form-item-field-asset-title-value-1 {
  position: relative;

  &:after {
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: pointer;
  }
}

ul.pagination {
  li, li.disabled {
    &.active span {
      background-color: #c4d82e;
      border-color: #a2a2a2;
      z-index: 0;

      &:hover {
        background-color: #c4d82e;
      }
    }

    a, span {
      display: inline-block;
      color: #000;
      background-color: transparent;
      border-color: #a2a2a2;

      &:hover {
        background-color: #c4d82e;
        color: white;
        border-color: #a2a2a2;
      }
    }
  }
}

.ajax-progress-throbber {
  display: none;
}

.webform-confirmation {
  text-align: center;
}

@media (max-width: 768px) {
  #block-views-downloads-center-block {
    div.view-filters,
    div.view-content {
      width: 100%;
    }
  }
}
