
/*Ukranian Site CSS*/
body.i18n-uk {
  font-family: "Verdana", sans-serif;
}
body.i18n-uk header#navbar .navbar-collapse #choose-language-wrap #choose-language span {
  font-family: "Verdana", sans-serif;
}
body.i18n-uk h1, body.i18n-uk h2, body.i18n-uk h3, body.i18n-uk h4, body.i18n-uk h5, body.i18n-uk h6, body.i18n-uk .h1, body.i18n-uk .h2, body.i18n-uk .h3, body.i18n-uk .h4, body.i18n-uk .h5, body.i18n-uk .h6 {
  font-family: "Verdana", sans-serif;
}
body.i18n-uk header h1 {
  font-family: "Verdana", sans-serif;
}
body.i18n-uk div.main-container {
  font-family: "Verdana", sans-serif;
}
body.i18n-uk > .main-container > .container p, body.i18n-uk > .main-container > .container span{
  font-family: "Verdana", sans-serif;
}
body.i18n-uk .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
  font-family: "Verdana", sans-serif;
}
body.i18n-uk .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .views-label, .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field {
  font-family: "Verdana", sans-serif;
}
body.i18n-uk .views-exposed-form label {
  font-family: "Verdana", sans-serif;
}
body.i18n-uk .views-exposed-form .form-submit.btn-info, .views-exposed-form .btn-primary {
  font-family: "Verdana", sans-serif;
}
body.i18n-uk .btn-custom {
  font-family: "Verdana", sans-serif;
}
body.i18n-uk .main-container .container span {
  font-family: "Verdana", sans-serif;
}

/*Russian Site CSS*/
body.i18n-ru {
  font-family: "Verdana", sans-serif;
}
body.i18n-ru header#navbar .navbar-collapse #choose-language-wrap #choose-language span {
  font-family: "Verdana", sans-serif;
}
body.i18n-ru h1, body.i18n-ru h2, body.i18n-ru h3, body.i18n-ru h4, body.i18n-ru h5, body.i18n-ru h6, body.i18n-ru .h1, body.i18n-ru .h2, body.i18n-ru .h3, body.i18n-ru .h4, body.i18n-ru .h5, body.i18n-ru .h6 {
  font-family: "Verdana", sans-serif;
}
body.i18n-ru header h1 {
  font-family: "Verdana", sans-serif;
}
body.i18n-ru div.main-container {
  font-family: "Verdana", sans-serif;
}
body.i18n-ru > .main-container > .container p, body.i18n-ru > .main-container > .container span{
  font-family: "Verdana", sans-serif;
}
body.i18n-ru .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
  font-family: "Verdana", sans-serif;
}
body.i18n-ru .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .views-label, .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field {
  font-family: "Verdana", sans-serif;
}
body.i18n-ru .views-exposed-form label {
  font-family: "Verdana", sans-serif;
}
body.i18n-ru .views-exposed-form .form-submit.btn-info, .views-exposed-form .btn-primary {
  font-family: "Verdana", sans-serif;
}
body.i18n-ru .btn-custom {
  font-family: "Verdana", sans-serif;
}
body.i18n-ru .main-container .container span {
  font-family: "Verdana", sans-serif;
}

/*Bulgarian Site CSS*/
body.i18n-bg {
  font-family: "Verdana", sans-serif;
}
body.i18n-bg header#navbar .navbar-collapse #choose-language-wrap #choose-language span {
  font-family: "Verdana", sans-serif;
}
body.i18n-bg h1, body.i18n-bg h2, body.i18n-bg h3, body.i18n-bg h4, body.i18n-bg h5, body.i18n-bg h6, body.i18n-bg .h1, body.i18n-bg .h2, body.i18n-bg .h3, body.i18n-bg .h4, body.i18n-bg .h5, body.i18n-bg .h6 {
  font-family: "Verdana", sans-serif;
}
body.i18n-bg header h1 {
  font-family: "Verdana", sans-serif;
}
body.i18n-bg div.main-container {
  font-family: "Verdana", sans-serif;
}
body.i18n-bg > .main-container > .container p, body.i18n-bg > .main-container > .container span{
  font-family: "Verdana", sans-serif;
}
body.i18n-bg .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
  font-family: "Verdana", sans-serif;
}
body.i18n-bg .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .views-label, .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field {
  font-family: "Verdana", sans-serif;
}
body.i18n-bg .views-exposed-form label {
  font-family: "Verdana", sans-serif;
}
body.i18n-bg .views-exposed-form .form-submit.btn-info, .views-exposed-form .btn-primary {
  font-family: "Verdana", sans-serif;
}
body.i18n-bg .btn-custom {
  font-family: "Verdana", sans-serif;
}
body.i18n-bg .main-container .container span {
  font-family: "Verdana", sans-serif;
}

/*Greek Site CSS*/
body.i18n-el {
  font-family: "Verdana", sans-serif;
}
body.i18n-el header#navbar .navbar-collapse #choose-language-wrap #choose-language span {
  font-family: "Verdana", sans-serif;
}
body.i18n-el h1, body.i18n-el h2, body.i18n-el h3, body.i18n-el h4, body.i18n-el h5, body.i18n-el h6, body.i18n-el .h1, body.i18n-el .h2, body.i18n-el .h3, body.i18n-el .h4, body.i18n-el .h5, body.i18n-el .h6 {
  font-family: "Verdana", sans-serif;
}
body.i18n-el header h1 {
  font-family: "Verdana", sans-serif;
}
body.i18n-el div.main-container {
  font-family: "Verdana", sans-serif;
}
body.i18n-el > .main-container > .container p, body.i18n-el > .main-container > .container span{
  font-family: "Verdana", sans-serif;
}
body.i18n-el .view-downloads-center div.view-content .download-item .content.views-fieldset h3 {
  font-family: "Verdana", sans-serif;
}
body.i18n-el .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field .views-label, .view-downloads-center div.view-content .download-item .content.views-fieldset .views-field {
  font-family: "Verdana", sans-serif;
}
body.i18n-el .views-exposed-form label {
  font-family: "Verdana", sans-serif;
}
body.i18n-el .views-exposed-form .form-submit.btn-info, .views-exposed-form .btn-primary {
  font-family: "Verdana", sans-serif;
}
body.i18n-el .btn-custom {
  font-family: "Verdana", sans-serif;
}
body.i18n-el .main-container .container span {
  font-family: "Verdana", sans-serif;
}

/*Language Switcer*/
div#language-region #block-locale-language h2.block-title,
div#language-region #block-locale-language ul.language-switcher-locale-url {
  font-family: "Verdana", sans-serif;
}